
body{
    background-color: #ebebe3;
    /* background-image: url(images/Image2.webp);
    background-size: cover;
    background-position: center; */
}


.header-top {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  .header-logo img {
    height: 100px;
  }
  .header-text {
    text-align: right;
  }
  .header-text h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  .header-text h2 {
    margin: 0;
    font-size: 16px;
  }
  nav {
    font-weight: bold;
    white-space: nowrap;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #c19898;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
  }
  #I1:hover::before {
    transform: scaleX(1);  
    }
    #I2:hover::before {
    transform: scaleX(0.67); 
    }
    #I3:hover::before {
    transform: scaleX(0.40); 
    }
    #I4:hover::before {
    transform: scaleX(0.15);
    }
    #I5:hover::before {
    transform: scaleX(0.36);  
    } 
    #I6:hover::before {
    transform: scaleX(1); 
    }
  .cn {
    background-color: #4a4a48;
  }
  .ca {
    color: #ebebe3;
  }
  .ca:hover {
    color: #c19898;
  }

  .footer {
    background-color: #3a3a3a;
    color: #d1d1d1;
    padding: 20px 0;
}
.footer a {
    color: #d1d1d1;
    text-decoration: none;
}
.footer .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
}
.footer .social-icons a:hover{
    opacity: 0.8;
}


.donation-header {
  background-image: url('../images/image2.webp'); 
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 5rem 1rem;
}
.donation-header h1 {
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.donation-form {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.motivational-text {
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  background: #f0f8ff;
  border-left: 5px solid #007bff;
  border-radius: 10px;
  font-size: 1.2rem;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

nav ul{
  justify-content: space-around;
}
#navbar-toggler{
  border-color: white;
  border-width: 2px;
}
@media (max-width : 768px) {
  #navUl{
    display: none;
  }
  nav ul li{
    padding-left: 45%;
  }
}
@media (min-width : 768px){
  #navUl{
    display: flex;
  }
}