.footer {
  background-color: #3a3a3a;
  color: #d1d1d1;
  padding: 20px 0;
}
.footer a {
  color: #d1d1d1;
  text-decoration: none;
}
.footer .social-icons a {
  margin: 0 10px;
  font-size: 1.5rem;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-top {
  background-color: #000;
  color: #fff;
  padding: 20px;
}
.header-logo img {
  height: 100px;
  width: fit-content;
}
.header-text {
  text-align: right;
}
.header-text h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.header-text h2 {
  margin: 0;
  font-size: 16px;
}
nav {
  z-index: 10;
  font-weight: bold;
  white-space: nowrap;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #c19898;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
#I1:hover::before {
  transform: scaleX(1);  
  }
  #I2:hover::before {
  transform: scaleX(0.67); 
  }
  #I3:hover::before {
  transform: scaleX(0.40); 
  }
  #I4:hover::before {
  transform: scaleX(0.15);
  }
  #I5:hover::before {
  transform: scaleX(0.36);  
  } 
  #I6:hover::before {
  transform: scaleX(1); 
  }
nav ul{
    justify-content: space-around;
}
.cn {
  background-color: #4a4a48;
}
.ca {
  color: #ebebe3;
}
.ca:hover {
  color: #c19898;
}
.title {
  padding-top: 60px;
  color: #343a40;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.img-fluid {
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  height: 190px;
  width: 200px;
  justify-items: center;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.show {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.show-content {
  position: relative;
  max-width: 60%;
  max-height: 100%;
}

.show-content img {
  width: 100%;
  height: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.navigation-btns {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev, .next {
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.8);
}


.photos{
  /* justify-content: space-between; */
  gap: 20px;
}

#navbar-toggler{
  border-color: white;
  border-width: 2px;
}
@media (max-width : 768px) {
  #navUl{
    display: none;
  }
  nav ul li{
    padding-left: 45%;
  }
}
@media (min-width : 768px){
  #navUl{
    display: flex;
  }
}
