/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ebebe3;
}
/* header{
    position: fixed;
    width: 100%;
    top: 0;
} */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    border-bottom: 1px solid #4a4a48;
    width: 100%;
    background-color: black;
}

.logo-container {
    flex-grow: 0; 
    flex-shrink: 0;
}

.logo {
    width: 100px; 
    height: auto;
}

.text-container {
    text-align: right; 
    flex-grow: 1; 
    margin-left: 20px;
    color: white;
}

#A1{
    color: #ebebe3;
    text-decoration: none;
}

#A2{
    color: #ebebe3;
    text-decoration: none;
}

h1 {
    font-size: 19.2px;
    margin-bottom: 5px;
}

h2 {
    font-size: 19.2px;
    margin-bottom: 5px;
    
}

p {
    color: #ebebe3;
    font-size: 14.4px;
    
}


body {
    font-family: Arial, sans-serif;
}

.navbar {
    
    background-color: #4a4a48; 
    padding: 10px 20px; 
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 4;
       
   
}

.navContainer{
    padding-left:32px;
    display: flex;
    gap:3;
}

.nav-links {
    list-style: none; 
    display: flex;
    justify-content: space-around; 
    white-space: nowrap;

   
    gap: 24px; /* Adjust the gap as needed */
    list-style: none;
     padding: 0;
    margin: 0;
    
}

.nav-links li {
    flex-grow: 1; 
    text-align: center; 
}

.nav-links a {
    
    font-weight: bold;
    color: #ebebe3; 
    text-decoration:none; 
    font-size: 1.2em; 
    padding: 10px 0; 
    display: block; 
    transition: background-color 0.3s; 
}

.nav-links a:hover {
    color: #c19898;
}

@media (max-width: 768px) {
    .navbar {
        position: static;
    }
    .nav-links {
        flex-direction: column; 
    }
}

.images {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slideshow {
    display: flex;
    width: 400%;
    animation: slideAnimation 20s infinite;
   
}

.slideshow img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

@keyframes slideAnimation {
    0% { transform: translateX(0); }          
    20% { transform: translateX(0); }         

    25% { transform: translateX(-25%); }     
    45% { transform: translateX(-25%); }    

    50% { transform: translateX(-50%); }
    70% { transform: translateX(-50%); }     

    75% { transform: translateX(-75%); }    
    95% { transform: translateX(-75%); }     
    
    100% { transform: translateX(0); }  
}

footer {
    
    background-color: #4c4c4d;
    color: #fff;
    padding: 20px 0;
   
}
footer { 
    
    background-color: #4c4c4d; 
    color: #fff; 
    padding: 20px 0;
}

.footer { 
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

.footer-content p { 
    margin-bottom: 10px; 
    line-height: 1.5; 
}

.footer-content a { 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
}

.footer-content a:hover { 
    text-decoration: underline; 
}

.social { 
    display: flex; 
    gap: 15px; 
}

.social img { 
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    /* background-color: #c19898; */ 
    background-color: #4c4c4d;
}

.social img:hover { 
    opacity: 0.8; 
    background-color: #4a4a48; 
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #c19898;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  #I1:hover::before {
    transform: scaleX(1);  
    }
    #I2:hover::before {
    transform: scaleX(0.67); 
    }
    #I3:hover::before {
    transform: scaleX(0.40); 
    }
    #I4:hover::before {
    transform: scaleX(0.15);
    }
    #I5:hover::before {
    transform: scaleX(0.36);  
    } 
    #I6:hover::before {
    transform: scaleX(1); 
    }
  #past{
    text-align: center;
    color: #000;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 41.81px;
    font-weight: 600;
    line-height: 53.76px;
    letter-spacing: 1px;
}
.s2{
    float:right;
    width:25%;
    margin-right:20px;
    /* padding: 10vh; */
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 10px;
   
    
}
.info{
    font-size: 25px;
    padding:20px;
    margin:10px;
    background-color: rgb(188, 207, 79);
    border-radius: 8px;
}
.s1{
    
    float:left;
    width:25%;
    margin-left:20px;
    /* padding: 10vh; */
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 10px;
    
    
}
.camp{
    /* position : absolute; */
    width:80%;
    /* left:15%;
    top:20%; */
    background-color:white;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

#intro{
    text-align: center;
    padding-bottom: 20px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  #scrollToTopBtn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
